{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <meta name="description" content="Login page for Bravo Planner">
    <link rel="stylesheet" href="{% static 'main/css/styles.css' %}">
</head>

<body>
    <!--Site header-->
    <header>
        <h1>Bravo Planner</h1>
    </header>

    <nav>
        <ul>
            <!-- For site navigation-->
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
            <li><a href="{% url 'login' %}" class="currentPage">Login</a></li>
            <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li><a href="{% url 'calendar_daily' %}">Calendar Daily View</a></li>
            <li><a href="{% url 'calendar_weekly' %}">Calendar Weekly View</a></li>
            <li><a href="{% url 'calendar_monthly' %}">Calendar Monthly View</a></li>
        </ul>
    </nav>

    <main id="wrapper">

        <h2>Welcome to your Schedule Planner</h2>

        <p>This is the login page for the Bravo Planner.
            <br><br> Please enter your User ID and Password to access your
            schedule.
        </p>

        <section>

            <h2>Login</h2>

            <!--User login form-->
            <!-- 
            ///////////////////////////////////////////////////////////////
            TODO: replace /login with the actual backend endpoint 
            ////////////////////////////////////////////////////////////////
            -->
            <form id="loginForm" action="{% url 'login' %}" method="post">
                {% csrf_token %}

                <label for="myUserID">*User ID:</label>
                <input type="text" name="username" id="myUserID" required>

                <label for="myPassword">*Password:</label>
                <input type="password" name="password" id="myPassword" required>

                <div class="button-group">
                    <input type="submit" value="Login">
                    <button type="button" id="openSignup">Create Account</button>
                </div>

            </form>

            <!-- Redirect user to sign up page with create account button -->
            <script>
                document.getElementById("openSignup").addEventListener("click", function () {
                    window.location.href = "{% url 'signup' %}";
                });
            </script>

        </section>

    </main>

    <footer>
        <p>Copyright &copy; 2025 Bravo Team
            <br><a href="mailto:paulschuh@ivytech.edu">Email Us</a>
        </p>
    </footer>

</body>

</html>
